main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
ul {
  padding: 0;
}
li {
  cursor: pointer;
  list-style: none;
  padding: 0.5em;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5em;
  transition: all 0.3s ease-in-out;
}
li:hover {
  background-color: #ccc;
}
.select {
  padding: 0.1em 0.5em;
}
.delete {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.delete:hover {
  background-color: black;
  color: #fff;
}
