<main>
    <div class="language_wrapper">
        <h2>Language List</h2>
        <p>Click on a language to see details</p>
        <ul>
            <li *ngFor="let language of languages" (click)="selectLanguage(language)">
                <p>Language: {{language.title}}</p>
                <button class="delete"
                    (click)="deleteLanguage(language.id);$event.stopImmediatePropagation()">delete</button>
            </li>
        </ul>
    </div>

    <div class="selected_lang">
        <h2>Selected language</h2>
        <p>You selected</p>
        <form #form="ngForm">
            <input type="text" name="title" [(ngModel)]="selectedLanguage.title" required>
            <input type="text" name="description" [(ngModel)]="selectedLanguage.description" required>
            <input type="checkbox" name="favourite" [(ngModel)]="selectedLanguage.favourite" required>
            <input type="submit" value="Submit" required class="submit">
        </form>
        <pre>{{form.value | json}}</pre>
        <pre>{{form.valid}}</pre>
    </div>

</main>