main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
ul {
  padding: 0;
}
li {
  cursor: pointer;
  list-style: none;
  padding: 0.5em;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5em;
  transition: all 0.3s ease-in-out;
}
li:hover {
  background-color: #ccc;
}
.select {
  padding: 0.1em 0.5em;
}
.delete {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.delete:hover {
  background-color: black;
  color: #fff;
}
.selected_lang{
background-color: #ccc;
padding: 1em;
}
input{
    display: block;
    width: 60%;
    margin: 0em auto 1em auto;
    padding: 0.5em;
    border: none;
    border-radius: 8px;
}
form{
    padding: 1em;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}
.submit{
    width: 40%;
    background-color: palevioletred;
}